# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
apt_packages:
  # required by pkgdown
  - libharfbuzz-dev
  - libfribidi-dev
r_packages:
  - covr
  - pkgdown
cache: packages
after_success:
  - Rscript -e 'covr::codecov()'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github(ssh_id = Sys.getenv("TRAVIS_DEPLOY_KEY"))'
  skip_cleanup: true
